@model IEnumerable<user>

@{
    ViewBag.Title = "Index";
}

<h2>List of Users</h2>
<hr />
@if(!String.IsNullOrEmpty(TempData["msg"] as String))
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}
<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
            @foreach (var u in Model)
            {
                <tr>
                    <th>@u.id</th>
                    <th>@u.username</th>
                    <th>
                        <a href="~/Home/Update/@u.id">Update</a> |
                        <a href="~/Home/Delete/@u.id">Delete</a>
                    </th>
                </tr>
            }
        </table>
    </div>
</div>

